.intro {
  font-size: 1.2em;
  font-weight: 300;
}

img.main-logo {
  height: 100px;
}

.logo {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.frontend {
  /* padding-bottom: 2em; */
  display: grid;
  grid-template-areas:
    "content logo"
}

.frontend .content {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2em;
  grid-area: content;
}

.frontend .logo {
  grid-area: logo;
}

/** Lang Examples */
@media screen and (min-width: 900px) {
  .intro {
    margin-left: 3em;
    margin-right: 3em;
  }

  .frontends {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }

  .frontend:first-child {
    margin-left: 0;
    /* margin-right: 1em; */
  }

  .frontend {
    /* margin-left: 1em;
    margin-right: 1em; */
    /* padding-top: 2em; */
    display: block;
  }

  .frontend:last-child {
    /* margin-left: 1em; */
    margin-right: 0;
  }

  .frontend .content {
    margin-right: 0;
  }

  .lang-examples {
    margin-left: 1em;
  }

  .example {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
  }

  .example>.summary {
    flex: 1 1 0;
    width: 0;
    /* max-width: 400px; */
  }

  .example>.code {
    flex: 1 1 0;
    width: 100%;
  }

  .example>.code {
    margin-left: 1em;
  }
}


/********** Content *********/
section {
  margin-top: 3em;
  width: 100%;
}

a {
  color: rgb(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: #bbb 0.1em dotted;
}

a:hover,
a:focus {
  background: #fbf3f3;
  transition-property: background;
  transition-duration: 0.2s;
}

/** Remove link styling */
a.unstyled-link {
  border: none;
}

a.unstyled-link:hover,
a.unstyled-link:focus {
  background: none;
}

/********** Layout **********/
header {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

header hr {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background: #aaa;
}

header h1 {
  margin-left: 33%;
  margin-right: 33%;
  padding-bottom: 0.2em;
  /*border-top: 2px solid #ddd;*/
  border-bottom: 2px solid #ddd;
}

.name {
  white-space: nowrap;
}

header h1,
header h3 {
  margin-top: 0;
}

header a {
  color: #333333;
}

nav {
  flex: 0 0;
  width: 50%;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

a.nav-item {
  margin-top: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding: 0.2em 1.1em;
  border: 1px solid #ccc;
  border-radius: 1.078em;
  flex: 1;
  text-align: center;
}

a.nav-item:hover,
a.nav-item:focus {
  transition-property: all;
  color: white;
  transition-duration: 0.2s;
  background: #ccc;
}

@media screen and (max-width: 585px) {
  nav {
    width: 100%;
    flex-wrap: wrap;
  }
}

nav a.active {
  color: #A6A6AF;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 80%;
  text-align: center;
}

/********** Basic styling **********/

html,
button,
input,
select,
textarea {
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Inter', serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  text-rendering: optimizeLegibility;
  margin: auto;
  max-width: 800px;
  width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.1em;
  /* font-weight: 300; */
  hyphens: none;
}

h1 {
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -1px;
}

h2 {
  font-size: 24px;
  line-height: 1.35;
}

h3 {
  font-size: 20px;
  line-height: 1.5;
}

h4 {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0px;
}

h5 {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0px;
}

h4,
h5 {
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: .5em;
  padding: 0;
  margin-bottom: 0;
}

h5 {
  font-style: italic;
  font-weight: normal;
}

h4:after,
h5:after {
  content: ".";
}

h4+p,
h5+p {}

hr {
  width: 10rem;
  border: 0;
  height: 1px;
  background: #aaa;
  text-align: left;
  margin-left: 0
}

p {
  margin: 15px 0px 15px 0px;
  max-width: 660px;
  text-align: left;
}

ul {
  width: 78%;
  list-style: circle;
}

ol {
  width: 78%;
  list-style: decimal;
}

ol,
ul {
  margin-top: 0;
}

/*li { margin-bottom: 0; }*/

pre {
  font-size: 90%;
  /*white-space: nowrap;*/
  border-radius: 5px;
  max-width: 600px;
  padding-left: 1em;
  box-shadow: 5px 5px 0px 1px lightgrey;
  border: 1px solid lightgrey;
}

pre {
  background-color: #fffff8;
  /* background-color: red; */
}

/* th,
td {
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
} */

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

figcaption {
  margin-top: 15px;
  font-size: 80%;
}

dt {
  margin-top: 15px;
}

label.sidenote-number {
  display: inline;
}

input.margin-toggle {
  display: none;
}

label.margin-toggle:not(.sidenote-number) {
  display: inline;
}


@media (max-width: 1130px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked+.sidenote,
  .margin-toggle:checked+.marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

/*** Footnotes */
.footnote-definition>p {
  display: inline;
}

.footnote-definition {
  margin-bottom: 1em;
}

/********** Additional styling **********/

div.footnotes {
  max-width: 600px;
  border-top: 1px dashed #AAAAAA;
  margin-top: 40px;
  font-size: 80%;
}

.center {
  text-align: center;
}

.date {
  font-weight: 300;
  text-align: left;
}

.blurb {
  font-size: 0.9em;
  margin-bottom: 0.8em;
  display: flex;
  flex-flow: row wrap;
}

.blurb>.date {
  vertical-align: top;
  flex: 1 100%;
}

.blurb>.description {
  vertical-align: top;
  margin-left: 1em;
  flex: 1 1;
}

.blurb>.description>.title {
  vertical-align: top;
}

.blurb p {
  display: inline;
}


@media screen and (min-width: 800px) {
  .blurb>.date {
    text-align: right;
    flex: 0 0 65px;
  }

  .blurb {
    margin-bottom: 4px;
  }

  .publication-venue {
    margin-left: 1em;
    text-align: right;
    flex: 0 0 90px;
  }

}

/** Post Styling */

.post img {
  max-width: 90%;
}

.post h2 {
  padding-top: 15px;
  margin-top: 30px;
  max-width: 600px;
}

.post-header .date {
  margin-top: -0.3em;
}

.post-header {
  margin-bottom: 2em;
}

/*************************************************
 *  Tables
 **************************************************/

table {
  width: 80%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 0.93rem;
  border: none;
  border-collapse: separate;
}

td {
  padding: 3px;
}

thead {
  border-top: 1px solid #ddd;
}

table>tbody>tr:nth-child(odd)>td,
table>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}