ver = "0.4.0"

[[tests]]
name = "type checker"
paths = [
  "tests/check/*.fil",
  "tests/errors/*.fil",
]
cmd = """
./target/debug/filament {} --check --no-color
"""

[[tests]]
name = "compile"
paths = [
  "tests/compile/*.fil"
]
cmd = """
fud e -s cocotb.data {}.data --to cocotb-out {} -s futil.flags ' -d canonicalize' -q
"""
