ver = "0.4.0"

[[tests]]
name = "type checker"
paths = [
  "tests/check/*.fil",
  "tests/errors/*.fil",
]
cmd = """
./target/debug/filament {} --check --no-color
"""

[[tests]]
name = "compile"
paths = [
  "tests/compile/*.fil"
]
cmd = """
fud e -s cocotb.data {}.data --to cocotb-out {} -s futil.flags ' -d canonicalize' -q
"""

# Compile directories within the tests/compile directory. All *.fil files in the
# use the same input and must produce the same output
[[tests]]
name = "compile multi"
paths = [
  "tests/compile/*/*.fil"
]
cmd = """
dir=$(dirname {}) && \
fud e -s cocotb.data "$dir/data.json" --to cocotb-out {} -s futil.flags ' -d canonicalize' -q
"""

# Evaluation examples
[[tests]]
name = "evaluation"
paths = [
  "evaluation/**/harness.fil"
]
cmd = """
dir=$(dirname {}) && \
./evaluation/fuzz/check.sh $dir 100
"""