name: Docs website

on: [push]
  # push:
  #   branches:
  #     - main

jobs:
  playground:
    name: Docs website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: mdbook-mermaid
      - name: Add mermaid assets
        run: |
          mdbook-mermaid install .
      - name: mdbook
        run: mdbook build doc/
      - name: Create CNAME file
        run: |
          echo 'filament.rachitnigam.com' > ./doc/book/CNAME
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/book