name: Test

on: [push]

jobs:
  compiler:
    name: Test Compiler
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: filament

      - name: Checkout Calyx
        uses: actions/checkout@v3
        with:
          repository: cucapra/calyx
          path: calyx

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.60.0
          override: true

      - name: Versions
        id: versions
        run: |
          echo "::set-output name=runt::$(grep ver runt.toml | awk '{print $3}' | tr -d '"')"
        shell: bash

      # Install cargo based tools and use some caching magic.
      - name: Cache runt
        id: runt-cache
        uses: actions/cache@v2
        with:
          path: ~/.cargo/bin/runt
          key: runt-bin-${{ runner.os }}-${{ steps.versions.outputs.runt }}

      - name: Install runt
        if: steps.runt-cache.outputs.cache-hit != 'true'
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: runt --version ${{ steps.versions.outputs.runt }}

      - name: Build compiler
        uses: actions-rs/cargo@v1
        working-directory: ./filament
        with:
          command: build

      - name: Test
        run: |
          runt -x compile -d -o fail
