name: Test

on: [push]

jobs:
  compiler:
    name: Test Compiler
    runs-on: ubuntu-latest
    container: ghcr.io/cucapra/calyx:latest
    steps:
      - name: Checkout Calyx latest
        working-directory: /home/calyx
        run: |
          git checkout master
          git fetch
          git pull

      - name: Checkout commit that triggered run
        uses: actions/checkout@v3
        with:
          repository: cucapra/filament
          ref: ${{ github.sha }}

      - name: Configure fud
        working-directory: /home
        run: |
          # Copy fud configuration
          mkdir -p $HOME/.config
          cp -r /root/.config/* $HOME/.config
          # Register Icarus
          fud register icarus-verilog -p "$(pwd)/calyx/fud/icarus/icarus.py"
          # Register filament relevant stages
          python3 -m pip install cocotb find_libpython pytest
          fud register filament -p "${GITHUB_WORKSPACE}/fud/filament.py"
          fud config stages.filament.exec "${GITHUB_WORKSPACE}/target/debug/filament"
          fud config stages.filament.library "${GITHUB_WORKSPACE}"

      - name: Fixup Calyx location
        run: |
          sed -i 's|../calyx/calyx|/home/calyx|' ${GITHUB_WORKSPACE}/Cargo.toml
          ls /home/calyx

      - name: Build Filament
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Test
        working-directory: /home/filament
        run: |
          cd ${GITHUB_WORKSPACE}/filament
          runt -d -o fail -j 1 --max-futures 10
